.feed__inputOptions {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.inputOption {
    display: flex;
    color: grey;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.inputOption>h4 {
    margin-left: 10px;
}

.inputOption:hover {
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
}